In [3]:
import pandas as pd

In [4]:
pd_muestra = pd.read_excel('muestra.xlsx')
pd_muestra.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,000adf2938f771f75a581b65107024eddeae70684778c0...,2017-04-25,0.885999,0.009377,0.008894,1.006219,0.008716,0.065198,0.001650,0.009946,...,NaN,NaN,NaN,0.001505,0.009169,0.009822,NaN,0.004713,0.002896,0.002524
1,001a152e1893ab8372e7c9627c9de2e024399f2660d5d8...,2017-11-10,0.750890,0.037378,0.045959,1.001278,0.000312,0.087636,0.004212,0.001730,...,NaN,NaN,NaN,0.006351,0.001419,0.004957,NaN,0.001577,0.004017,0.007144
2,001e2ceaf1421f1477c0de9ba1c9357b9d278f7b670ab7...,2018-03-26,0.607227,0.002678,0.001271,0.812964,0.005415,NaN,0.005049,0.006548,...,NaN,NaN,NaN,0.008643,0.007299,0.000205,NaN,0.006518,0.008823,0.002062
3,0034f7e366a41d2500643c7dd0faa6302ce944743ccdf5...,2018-01-07,0.775546,0.003486,0.234352,0.040793,0.256024,0.172966,0.000081,0.225639,...,NaN,NaN,NaN,1.002720,0.008143,0.995023,0.626496,1.000037,0.671750,0.188801
4,00394e07aa3f71174f8bedfd16d64f194c80ad9445e17f...,2017-04-27,0.358659,0.001814,0.028545,1.004951,0.009079,0.765318,0.003546,0.009843,...,NaN,NaN,NaN,0.002115,0.004143,0.007057,NaN,0.004255,0.001370,0.007717

In [5]:
print(f'cantidad de registros: {len(pd_muestra)}')

cantidad de registros: 6041

In [6]:
pd_label = pd.read_csv('train_labels.csv')
pd_label.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [7]:
print(f'cantidad de registros: {len(pd_label)}')

cantidad de registros: 458913

In [8]:
data_full = pd_muestra.merge(pd_label, on='customer_ID')
data_full.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,000adf2938f771f75a581b65107024eddeae70684778c0...,2017-04-25,0.885999,0.009377,0.008894,1.006219,0.008716,0.065198,0.001650,0.009946,...,NaN,NaN,0.001505,0.009169,0.009822,NaN,0.004713,0.002896,0.002524,0
1,001a152e1893ab8372e7c9627c9de2e024399f2660d5d8...,2017-11-10,0.750890,0.037378,0.045959,1.001278,0.000312,0.087636,0.004212,0.001730,...,NaN,NaN,0.006351,0.001419,0.004957,NaN,0.001577,0.004017,0.007144,0
2,001e2ceaf1421f1477c0de9ba1c9357b9d278f7b670ab7...,2018-03-26,0.607227,0.002678,0.001271,0.812964,0.005415,NaN,0.005049,0.006548,...,NaN,NaN,0.008643,0.007299,0.000205,NaN,0.006518,0.008823,0.002062,1
3,0034f7e366a41d2500643c7dd0faa6302ce944743ccdf5...,2018-01-07,0.775546,0.003486,0.234352,0.040793,0.256024,0.172966,0.000081,0.225639,...,NaN,NaN,1.002720,0.008143,0.995023,0.626496,1.000037,0.671750,0.188801,0
4,00394e07aa3f71174f8bedfd16d64f194c80ad9445e17f...,2017-04-27,0.358659,0.001814,0.028545,1.004951,0.009079,0.765318,0.003546,0.009843,...,NaN,NaN,0.002115,0.004143,0.007057,NaN,0.004255,0.001370,0.007717,1

In [9]:
print(f'cantidad de registros: {len(data_full)}')

cantidad de registros: 6041

Una vez comprobado que el merge lo altero el DF y se procede a guardarlos en un csv y txt

In [10]:
data_full.to_excel('data_full.xlsx', index=False)

In [11]:
data_full.to_csv('data_full.txt', sep='\t', index=False)